/* CSS declarations go here */
.container {
	padding: 10px;
}
.ARI { background-color: #870619; color: #FFFFFF;}
.ATL { background-color: #BD0D18; color: #DCE0E5;}
.BAL { background-color: #280353; color: #FFFFFF;}
.BUF { background-color: #00338D; color: #C60C30;}
.CAR { background-color: #000000; color: #0088CE;}
.CHI { background-color: #03202F; color: #DD4814;}
.CIN { background-color: #000000; color: #FB4F14;}
.CIN { background-color: #000000; color: #FB4F14;}
.CLE { background-color: #26201E; color: #E34912;}
.DAL { background-color: #002244; color: #8C8B8A;}
.DEN { background-color: #FB4F14; color: #002244;}
.DET { background-color: #006DB0; color: #C5C7CF;}
.GBP { background-color: #213D30; color: #FFCC00;}
.HOU { background-color: #02253A; color: #B31B34;}
.IND { background-color: #003B7B; color: #FFFFFF;}
.JAC { background-color: #000000; color: #D0B239;}
.KCC { background-color: #B20032; color: #F2C800;}
.MIA { background-color: #008D97; color: #FFFFFF;}
.MIN { background-color: #4F2682; color: #FFC52F;}
.NEP { background-color: #0D254C; color: #D6D6D6;}
.NOS { background-color: #D2B887; color: #000000;}
.NYG { background-color: #192F6B; color: #FFFFFF;}
.NYJ { background-color: #0C371D; color: #FFFFFF;}
.OAK { background-color: #C4C8CB; color: #000000;}
.PHI { background-color: #003B48; color: #C0C0C0;}
.PIT { background-color: #000000; color: #F2C800;}
.SDC { background-color: #08214A; color: #EEC607;}
.SFO { background-color: #AF1E2C; color: #E6BE8A;}
.SEA { background-color: #06192E; color: #4EAE47;}
.STL { background-color: #13264B; color: #C9AF74;}
.STL { background-color: #13264B; color: #C9AF74;}
.TBB { background-color: #D60A0B; color: #000000;}
.TEN { background-color: #648FCC; color: #000080;}
.WAS { background-color: #773141; color: #FFB612;}
